## Question 1

In [280]:
import pandas as pd
import matplotlib.pyplot as plt
import wbgapi as wb
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [54]:
series_id = ["SE.ADT.LITR.FE.ZS", "SL.TLF.TOTL.FE.ZS", "SI.POV.NAHC", "SH.XPD.CHEX.PC.CD", "NY.GDP.PCAP.CD", "SH.DYN.MORT"]
country = "TUR"

In [55]:
lit = wb.data.DataFrame(series_id[0], country)
lab = wb.data.DataFrame(series_id[1], country)
pov = wb.data.DataFrame(series_id[2], country)
health = wb.data.DataFrame(series_id[3], country)
gdp = wb.data.DataFrame(series_id[4], country)
mor = wb.data.DataFrame(series_id[5], country)

In [70]:
lit.reset_index(drop=True, inplace = True)
lab.reset_index(drop= True, inplace = True)
pov.reset_index(drop=True,inplace = True)
health.reset_index(drop=True,inplace = True)
gdp.reset_index(drop=True,inplace = True)
mor.reset_index(drop=True, inplace= True)

master_df = pd.concat([lit,lab,pov,health,gdp,mor],axis=0)
master_df

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.604523,92.138077,92.401817,92.645813,93.563011,93.498268,NaN,94.424042,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.464131,31.199391,31.027784,31.719798,32.250459,32.799757,33.089766,33.360649,32.175606,32.470214
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.000000,15.000000,14.700000,14.300000,13.500000,13.900000,14.400000,15.000000,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,524.250305,551.401245,525.844727,453.116486,466.794800,442.617615,389.865570,396.466827,NaN,NaN
0,509.005545,283.828284,309.446624,350.662985,369.583469,386.358061,444.549483,481.69368,526.213475,571.61777,...,11795.633457,12614.781610,12157.990434,11006.279524,10894.603378,10589.667725,9454.348443,9121.515167,8536.433320,9586.612450
0,257.000000,249.300000,241.400000,233.500000,225.700000,218.300000,211.300000,204.90000,198.800000,192.90000,...,15.800000,14.700000,13.800000,13.000000,12.100000,11.400000,10.700000,10.100000,9.500000,NaN

In [57]:
master_df.index = ["Literacy", "Labor",
                   "Poverty", "Health", "GDP", "Mortality"]
master_df

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
Literacy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.604523,92.138077,92.401817,92.645813,93.563011,93.498268,NaN,94.424042,NaN,NaN
Labor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.464131,31.199391,31.027784,31.719798,32.250459,32.799757,33.089766,33.360649,32.175606,32.470214
Poverty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.000000,15.000000,14.700000,14.300000,13.500000,13.900000,14.400000,15.000000,NaN,NaN
Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,524.250305,551.401245,525.844727,453.116486,466.794800,442.617615,389.865570,396.466827,NaN,NaN
GDP,509.005545,283.828284,309.446624,350.662985,369.583469,386.358061,444.549483,481.69368,526.213475,571.61777,...,11795.633457,12614.781610,12157.990434,11006.279524,10894.603378,10589.667725,9454.348443,9121.515167,8536.433320,9586.612450
Mortality,257.000000,249.300000,241.400000,233.500000,225.700000,218.300000,211.300000,204.90000,198.800000,192.90000,...,15.800000,14.700000,13.800000,13.000000,12.100000,11.400000,10.700000,10.100000,9.500000,NaN

In [58]:
master_df.isnull().sum()
master_df.describe()

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,3.000000,2.000000
mean,383.002773,266.564142,275.423312,292.081493,297.641734,302.329030,327.924741,343.296840,362.506737,382.258885,...,2078.792069,2219.870054,2139.294127,1935.176937,1918.801941,1863.980561,1980.480756,1611.811114,2859.369642,4809.541332
std,178.194830,24.415184,48.116229,82.846741,101.740976,118.834994,164.932291,195.722688,231.516288,267.793903,...,4764.311961,5096.660161,4912.100879,4447.111596,4400.672621,4277.863313,4181.106202,3681.900876,4916.494437,6755.798764
min,257.000000,249.300000,241.400000,233.500000,225.700000,218.300000,211.300000,204.900000,198.800000,192.900000,...,15.000000,14.700000,13.800000,13.000000,12.100000,11.400000,10.700000,10.100000,9.500000,32.470214
25%,320.001386,257.932071,258.411656,262.790746,261.670867,260.314515,269.612371,274.098420,280.653369,287.579443,...,19.466033,19.049848,18.781946,18.654949,18.187615,18.624939,14.400000,19.590162,20.837803,2421.005773
50%,383.002773,266.564142,275.423312,292.081493,297.641734,302.329030,327.924741,343.296840,362.506737,382.258885,...,61.034327,61.668734,61.714801,62.182805,62.906735,63.149012,33.089766,63.892346,32.175606,4809.541332
75%,446.004159,275.196213,292.434968,321.372239,333.612601,344.343545,386.237112,412.495260,444.360106,476.938328,...,416.088860,436.585453,417.483999,362.998817,373.486853,355.337778,389.865570,320.956131,4284.304463,7198.076891
max,509.005545,283.828284,309.446624,350.662985,369.583469,386.358061,444.549483,481.693680,526.213475,571.617770,...,11795.633457,12614.781610,12157.990434,11006.279524,10894.603378,10589.667725,9454.348443,9121.515167,8536.433320,9586.612450

In [59]:
df = master_df.T
df.dropna(inplace=True)
df

         Literacy      Labor  Poverty      Health           GDP  Mortality
YR2005  80.548950  25.921956     18.6  364.908051   7456.296101       26.2
YR2006  80.385162  26.205298     16.3  416.928528   8101.856924       24.3
YR2007  81.263832  26.288681     16.7  512.848267   9791.882450       22.5
YR2009  85.347160  28.071295     16.9  500.193054   9103.474051       19.5
YR2010  88.073174  29.161917     16.1  539.327148  10742.774979       18.1
YR2011  90.310097  29.832127     16.3  531.418579  11420.555456       16.9
YR2012  91.604523  30.464131     15.0  524.250305  11795.633457       15.8
YR2013  92.138077  31.199391     15.0  551.401245  12614.781610       14.7
YR2014  92.401817  31.027784     14.7  525.844727  12157.990434       13.8
YR2015  92.645813  31.719798     14.3  453.116486  11006.279524       13.0
YR2016  93.563011  32.250459     13.5  466.794800  10894.603378       12.1
YR2017  93.498268  32.799757     13.9  442.617615  10589.667725       11.4
YR2019  94.424042  33.360649     15.0  396.466827   9121.515167       10.1

In [282]:
corr_matrix = df.corr()
corr_matrix

           Literacy     Labor   Poverty    Health       GDP  Mortality
Literacy   1.000000  0.981657 -0.849316  0.240982  0.708098  -0.976415
Labor      0.981657  1.000000 -0.867518  0.097192  0.591484  -0.989861
Poverty   -0.849316 -0.867518  1.000000 -0.192544 -0.642485   0.885762
Health     0.240982  0.097192 -0.192544  1.000000  0.786933  -0.173542
GDP        0.708098  0.591484 -0.642485  0.786933  1.000000  -0.624924
Mortality -0.976415 -0.989861  0.885762 -0.173542 -0.624924   1.000000

In [290]:
x = df[["Labor",'Literacy', "Poverty","GDP", "Health"]]
y = df['Mortality']

x = sm.add_constant(x)

model = sm.OLS(y, x).fit()
predictions = model.predict(x) 

model.summary()

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Mortality   R-squared:                       0.992
Model:                            OLS   Adj. R-squared:                  0.986
Method:                 Least Squares   F-statistic:                     169.6
Date:                Mon, 07 Nov 2022   Prob (F-statistic):           3.81e-07
Time:                        21:07:42   Log-Likelihood:                -7.8492
No. Observations:                  13   AIC:                             27.70
Df Residuals:                       7   BIC:                             31.09
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         69.8438      9.987      6.994      0.000      46.229      93.458
Labor         -2.0005      0.746     -2.683      0.031      -3.764      -0.237
Literacy       0.0222      0.372      0.060      0.954      -0.858       0.902
Poverty        0.4324      0.319      1.355      0.218      -0.322       1.187
GDP            0.0007      0.000      1.455      0.189      -0.000       0.002
Health        -0.0185      0.007     -2.597      0.036      -0.035      -0.002
==============================================================================
Omnibus:                        1.712   Durbin-Watson:                   2.158
Prob(Omnibus):                  0.425   Jarque-Bera (JB):                1.117
Skew:                          -0.455   Prob(JB):                        0.572
Kurtosis:                       1.890   Cond. No.                     6.27e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.27e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [291]:
model1 = ols('Mortality ~ Labor + Literacy + Poverty + Health + GDP ', data=df).fit()
print(model1.summary())
sm.stats.anova_lm(model1)

                            OLS Regression Results
==============================================================================
Dep. Variable:              Mortality   R-squared:                       0.992
Model:                            OLS   Adj. R-squared:                  0.986
Method:                 Least Squares   F-statistic:                     169.6
Date:                Mon, 07 Nov 2022   Prob (F-statistic):           3.81e-07
Time:                        21:08:16   Log-Likelihood:                -7.8492
No. Observations:                  13   AIC:                             27.70
Df Residuals:                       7   BIC:                             31.09
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     69.8438      9.987      6.994      0.000      46.229      93.458
Labor         -2.0005      0.746     -2.683      0.031      -3.764      -0.237
Literacy       0.0222      0.372      0.060      0.954      -0.858       0.902
Poverty        0.4324      0.319      1.355      0.218      -0.322       1.187
Health        -0.0185      0.007     -2.597      0.036      -0.035      -0.002
GDP            0.0007      0.000      1.455      0.189      -0.000       0.002
==============================================================================
Omnibus:                        1.712   Durbin-Watson:                   2.158
Prob(Omnibus):                  0.425   Jarque-Bera (JB):                1.117
Skew:                          -0.455   Prob(JB):                        0.572
Kurtosis:                       1.890   Cond. No.                     6.27e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.27e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

           df      sum_sq     mean_sq           F        PR(>F)
Labor     1.0  304.804040  304.804040  837.937802  1.511098e-08
Literacy  1.0    0.189882    0.189882    0.522005  4.934128e-01
Poverty   1.0    0.940111    0.940111    2.584462  1.519524e-01
Health    1.0    1.829951    1.829951    5.030724  5.981897e-02
GDP       1.0    0.769732    0.769732    2.116072  1.890863e-01
Residual  7.0    2.546285    0.363755         NaN           NaN

In [326]:
model1 = ols('Mortality ~ Poverty * Labor * Literacy + Health ', data=df).fit()
print(model1.summary())
sm.stats.anova_lm(model1)

                            OLS Regression Results
==============================================================================
Dep. Variable:              Mortality   R-squared:                       0.993
Model:                            OLS   Adj. R-squared:                  0.980
Method:                 Least Squares   F-statistic:                     74.48
Date:                Mon, 07 Nov 2022   Prob (F-statistic):           0.000439
Time:                        22:37:21   Log-Likelihood:                -6.5168
No. Observations:                  13   AIC:                             31.03
Df Residuals:                       4   BIC:                             36.12
Df Model:                           8
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept              -2648.5559   1908.276     -1.388      0.237   -7946.779    2649.667
Poverty                  165.7092    115.843      1.430      0.226    -155.923     487.341
Labor                    111.9264     79.474      1.408      0.232    -108.728     332.580
Poverty:Labor             -6.9630      4.848     -1.436      0.224     -20.423       6.497
Literacy                  26.8054     19.838      1.351      0.248     -28.272      81.883
Poverty:Literacy          -1.6209      1.212     -1.338      0.252      -4.985       1.743
Labor:Literacy            -1.1458      0.805     -1.424      0.228      -3.380       1.088
Poverty:Labor:Literacy     0.0699      0.049      1.427      0.227      -0.066       0.206
Health                    -0.0082      0.008     -0.992      0.377      -0.031       0.015
==============================================================================
Omnibus:                        0.248   Durbin-Watson:                   2.301
Prob(Omnibus):                  0.883   Jarque-Bera (JB):                0.382
Skew:                          -0.244   Prob(JB):                        0.826
Kurtosis:                       2.317   Cond. No.                     3.96e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.96e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

                         df      sum_sq     mean_sq           F    PR(>F)
Poverty                 1.0  244.065138  244.065138  470.629108  0.000027
Labor                   1.0   61.658183   61.658183  118.895046  0.000402
Poverty:Labor           1.0    1.492330    1.492330    2.877650  0.165057
Literacy                1.0    0.048205    0.048205    0.092953  0.775661
Poverty:Literacy        1.0    0.064957    0.064957    0.125257  0.741269
Labor:Literacy          1.0    0.039493    0.039493    0.076155  0.796249
Poverty:Labor:Literacy  1.0    1.126594    1.126594    2.172403  0.214514
Health                  1.0    0.510726    0.510726    0.984830  0.377182
Residual                4.0    2.074374    0.518593         NaN       NaN

### By looking at the correlation coefficients , R-squared score and the anova table, the model that gave the most accurate results among the models I tried with different rankings and variables is model1.

In [298]:
model2 = ols('Mortality ~  Labor*Poverty  ', data=df).fit()
print(model2.summary())
sm.stats.anova_lm(model2)

                            OLS Regression Results
==============================================================================
Dep. Variable:              Mortality   R-squared:                       0.988
Model:                            OLS   Adj. R-squared:                  0.983
Method:                 Least Squares   F-statistic:                     238.5
Date:                Mon, 07 Nov 2022   Prob (F-statistic):           6.83e-09
Time:                        21:13:49   Log-Likelihood:                -10.561
No. Observations:                  13   AIC:                             29.12
Df Residuals:                       9   BIC:                             31.38
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         8.3782     30.852      0.272      0.792     -61.415      78.171
Labor             0.1196      1.028      0.116      0.910      -2.206       2.446
Poverty           3.9166      1.909      2.052      0.070      -0.401       8.235
Labor:Poverty    -0.1215      0.065     -1.864      0.095      -0.269       0.026
==============================================================================
Omnibus:                        0.689   Durbin-Watson:                   1.738
Prob(Omnibus):                  0.709   Jarque-Bera (JB):                0.583
Skew:                          -0.433   Prob(JB):                        0.747
Kurtosis:                       2.429   Cond. No.                     7.89e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.89e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

                df      sum_sq     mean_sq           F        PR(>F)
Labor          1.0  304.804040  304.804040  709.883214  7.147343e-10
Poverty        1.0    0.919281    0.919281    2.140990  1.774380e-01
Labor:Poverty  1.0    1.492330    1.492330    3.475610  9.515943e-02
Residual       9.0    3.864349    0.429372         NaN           NaN

In [300]:
model3 = ols('Mortality ~ Labor * Literacy ', data = df).fit()
print(model3.summary())
sm.stats.anova_lm(model3)

                            OLS Regression Results
==============================================================================
Dep. Variable:              Mortality   R-squared:                       0.983
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                     171.6
Date:                Mon, 07 Nov 2022   Prob (F-statistic):           2.93e-08
Time:                        21:14:28   Log-Likelihood:                -12.669
No. Observations:                  13   AIC:                             33.34
Df Residuals:                       9   BIC:                             35.60
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept        196.7360    105.502      1.865      0.095     -41.926     435.398
Labor             -6.9577      4.716     -1.475      0.174     -17.625       3.710
Literacy          -1.2053      0.992     -1.215      0.255      -3.449       1.038
Labor:Literacy     0.0506      0.045      1.117      0.293      -0.052       0.153
==============================================================================
Omnibus:                        2.943   Durbin-Watson:                   1.692
Prob(Omnibus):                  0.230   Jarque-Bera (JB):                0.876
Skew:                          -0.543   Prob(JB):                        0.645
Kurtosis:                       3.661   Cond. No.                     1.33e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

                 df      sum_sq     mean_sq           F        PR(>F)
Labor           1.0  304.804040  304.804040  513.270712  3.015955e-09
Literacy        1.0    0.189882    0.189882    0.319749  5.855772e-01
Labor:Literacy  1.0    0.741459    0.741459    1.248571  2.927654e-01
Residual        9.0    5.344619    0.593847         NaN           NaN

# Question 2

In [3]:
import yfinance as yf

In [29]:
gold = yf.Ticker("GC=F")
silver = yf.Ticker("SI=F")
copper = yf.Ticker("HG=F")
platinium = yf.Ticker("PL=F")

In [117]:
df_gold = gold.history(period="max")
df_gold.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-08-30 00:00:00-04:00,273.899994,273.899994,273.899994,273.899994,0,0,0
2000-08-31 00:00:00-04:00,274.799988,278.299988,274.799988,278.299988,0,0,0
2000-09-01 00:00:00-04:00,277.000000,277.000000,277.000000,277.000000,0,0,0
2000-09-05 00:00:00-04:00,275.799988,275.799988,275.799988,275.799988,2,0,0
2000-09-06 00:00:00-04:00,274.200012,274.200012,274.200012,274.200012,0,0,0

In [118]:
df_silver = silver.history(period="max")
df_silver.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-08-30 00:00:00-04:00,4.950,4.950,4.895,4.930,2319,0,0
2000-08-31 00:00:00-04:00,4.920,5.045,4.920,5.003,1612,0,0
2000-09-01 00:00:00-04:00,5.035,5.035,4.985,5.004,1375,0,0
2000-09-05 00:00:00-04:00,4.990,5.005,4.975,4.998,856,0,0
2000-09-06 00:00:00-04:00,5.000,5.000,4.980,4.983,232,0,0

In [119]:
df_copper = copper.history(period="max")
df_copper.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-08-30 00:00:00-04:00,0.879,0.887,0.8770,0.8850,2886,0,0
2000-08-31 00:00:00-04:00,0.885,0.888,0.8800,0.8850,1095,0,0
2000-09-01 00:00:00-04:00,0.878,0.889,0.8780,0.8890,3449,0,0
2000-09-05 00:00:00-04:00,0.896,0.907,0.8950,0.9060,1397,0,0
2000-09-06 00:00:00-04:00,0.905,0.906,0.8975,0.9015,1195,0,0

In [255]:
df_plat = platinium.history(period="max")
df_plat.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-04 00:00:00-05:00,428.0,430.0,421.000000,429.700012,632,0,0
2000-01-05 00:00:00-05:00,428.0,428.0,416.899994,419.899994,571,0,0
2000-01-06 00:00:00-05:00,415.0,417.0,409.000000,412.000000,494,0,0
2000-01-07 00:00:00-05:00,408.0,417.0,408.000000,414.000000,130,0,0
2000-01-10 00:00:00-05:00,414.0,415.0,414.000000,415.000000,24,0,0

In [256]:
tmp = {}
tmp['PlatinumClose'] = df_plat['Close']
tmp['CopperClose'] = df_copper['Close']
tmp['SilverClose'] = df_silver['Close']
tmp['GoldClose'] = df_gold['Close']
tmp['GoldOpen'] = df_gold['Open']
tmp['SilverOpen'] = df_silver['Open']
tmp['CopperOpen'] = df_copper['Open']
tmp['PlatinumOpen'] = df_plat['Open']
data = pd.DataFrame(tmp).dropna()
data

,PlatinumClose,CopperClose,SilverClose,GoldClose,GoldOpen,SilverOpen,CopperOpen,PlatinumOpen
Date,,,,,,,,
2000-08-30 00:00:00-04:00,591.400024,0.8850,4.930000,273.899994,273.899994,4.950000,0.8790,593.900024
2000-08-31 00:00:00-04:00,586.700012,0.8850,5.003000,278.299988,274.799988,4.920000,0.8850,589.000000
2000-09-01 00:00:00-04:00,595.299988,0.8890,5.004000,277.000000,277.000000,5.035000,0.8780,588.000000
2000-09-05 00:00:00-04:00,601.299988,0.9060,4.998000,275.799988,275.799988,4.990000,0.8960,602.000000
2000-09-06 00:00:00-04:00,611.099976,0.9015,4.983000,274.200012,274.200012,5.000000,0.9050,603.000000
...,...,...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,959.799988,3.5095,19.673000,1645.000000,1630.800049,19.125000,3.4945,959.799988
2022-11-02 00:00:00-04:00,960.200012,3.5055,19.600000,1645.699951,1650.800049,19.780001,3.4985,960.200012
2022-11-03 00:00:00-04:00,933.400024,3.4565,19.436001,1627.300049,1629.199951,19.235001,3.4455,933.400024
2022-11-04 00:00:00-04:00,969.799988,3.7145,20.790001,1672.500000,1630.199951,19.980000,3.6370,969.799988
2022-11-07 00:00:00-05:00,989.900024,3.6280,20.764999,1681.800049,1678.599976,20.570000,3.6450,964.700012

In [257]:
data.describe()

,PlatinumClose,CopperClose,SilverClose,GoldClose,GoldOpen,SilverOpen,CopperOpen,PlatinumOpen
count,4865.000000,4865.000000,4865.000000,4865.000000,4865.000000,4865.000000,4865.000000,4865.000000
mean,1083.803720,2.664942,16.825834,1116.475375,1116.590134,16.833528,2.663969,1083.503638
std,366.211438,1.112549,8.657245,517.542495,517.618647,8.665645,1.112475,366.098593
min,412.500000,0.604000,4.026000,255.100006,255.000000,4.026000,0.609000,406.000000
25%,854.099976,2.031500,10.688000,587.500000,587.000000,10.605000,2.032000,853.900024
50%,976.299988,2.875500,16.766001,1242.699951,1241.699951,16.764999,2.879500,976.200012
75%,1406.000000,3.437000,21.459000,1504.599976,1505.199951,21.495001,3.437500,1405.699951
max,2251.100098,4.929000,48.584000,2051.500000,2053.600098,48.459999,4.910000,2251.100098

In [258]:
data.corr()

,PlatinumClose,CopperClose,SilverClose,GoldClose,GoldOpen,SilverOpen,CopperOpen,PlatinumOpen
PlatinumClose,1.000000,0.743678,0.761227,0.500865,0.500829,0.760695,0.743617,0.999708
CopperClose,0.743678,1.000000,0.854108,0.829548,0.829345,0.853637,0.999411,0.743912
SilverClose,0.761227,0.854108,1.000000,0.869931,0.869662,0.999329,0.854675,0.761419
GoldClose,0.500865,0.829548,0.869931,1.000000,0.999758,0.869785,0.830092,0.501283
GoldOpen,0.500829,0.829345,0.869662,0.999758,1.000000,0.869991,0.830057,0.501379
SilverOpen,0.760695,0.853637,0.999329,0.869785,0.869991,1.000000,0.854570,0.761033
CopperOpen,0.743617,0.999411,0.854675,0.830092,0.830057,0.854570,1.000000,0.743998
PlatinumOpen,0.999708,0.743912,0.761419,0.501283,0.501379,0.761033,0.743998,1.000000

In [294]:
x = data[["GoldOpen", "SilverOpen", "CopperOpen", "PlatinumClose"]]
y = data['GoldClose']
x = sm.add_constant(x)

model_gold = sm.OLS(y, x).fit()
predictions = model_gold.predict(x) 
model_gold.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              GoldClose   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.514e+06
Date:                Mon, 07 Nov 2022   Prob (F-statistic):               0.00
Time:                        21:12:26   Log-Likelihood:                -18731.
No. Observations:                4865   AIC:                         3.747e+04
Df Residuals:                    4860   BIC:                         3.751e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.0190      0.660      0.029      0.977      -1.275       1.313
GoldOpen          0.9993      0.001   1105.032      0.000       0.997       1.001
SilverOpen       -0.0317      0.059     -0.537      0.591      -0.148       0.084
CopperOpen        0.4488      0.359      1.249      0.212      -0.256       1.153
PlatinumClose  2.449e-05      0.001      0.026      0.979      -0.002       0.002
==============================================================================
Omnibus:                     1511.317   Durbin-Watson:                   2.063
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            30047.522
Skew:                          -0.985   Prob(JB):                         0.00
Kurtosis:                      15.014   Cond. No.                     6.73e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.73e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [260]:
x_silver = data[["GoldOpen", "SilverOpen", "CopperOpen", "PlatinumOpen"]]
y_silver = data["SilverClose"]
x_silver = sm.add_constant(x_silver)

model_silver = sm.OLS(y_silver, x_silver).fit()
predictions = model_silver.predict(x_silver) 
model_silver.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SilverClose   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 9.071e+05
Date:                Mon, 07 Nov 2022   Prob (F-statistic):               0.00
Time:                        20:42:34   Log-Likelihood:                -1307.7
No. Observations:                4865   AIC:                             2625.
Df Residuals:                    4860   BIC:                             2658.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.0357      0.018     -1.941      0.052      -0.072       0.000
GoldOpen      4.982e-05   2.52e-05      1.980      0.048    4.88e-07    9.92e-05
SilverOpen       0.9930      0.002    603.858      0.000       0.990       0.996
CopperOpen       0.0036      0.010      0.357      0.721      -0.016       0.023
PlatinumOpen  7.486e-05   2.65e-05      2.826      0.005    2.29e-05       0.000
==============================================================================
Omnibus:                     3595.868   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           458246.397
Skew:                          -2.705   Prob(JB):                         0.00
Kurtosis:                      50.237   Cond. No.                     6.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [305]:
x_copper = data[["GoldOpen", "SilverOpen", "CopperOpen", "PlatinumOpen"]]
y_copper = data["SilverClose"]
x_copper = sm.add_constant(x_copper)

model_copper = sm.OLS(y_copper, x_copper).fit()
predictions = model_copper.predict(x_copper) 
model_copper.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SilverClose   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 9.071e+05
Date:                Mon, 07 Nov 2022   Prob (F-statistic):               0.00
Time:                        21:29:03   Log-Likelihood:                -1307.7
No. Observations:                4865   AIC:                             2625.
Df Residuals:                    4860   BIC:                             2658.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.0357      0.018     -1.941      0.052      -0.072       0.000
GoldOpen      4.982e-05   2.52e-05      1.980      0.048    4.88e-07    9.92e-05
SilverOpen       0.9930      0.002    603.858      0.000       0.990       0.996
CopperOpen       0.0036      0.010      0.357      0.721      -0.016       0.023
PlatinumOpen  7.486e-05   2.65e-05      2.826      0.005    2.29e-05       0.000
==============================================================================
Omnibus:                     3595.868   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           458246.397
Skew:                          -2.705   Prob(JB):                         0.00
Kurtosis:                      50.237   Cond. No.                     6.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [262]:
x_plat = data[["GoldOpen", "SilverOpen", "CopperOpen", "PlatinumOpen"]]
y_plat = data["SilverClose"]
x_plat = sm.add_constant(x_plat)

model_plat = sm.OLS(y_plat, x_plat).fit()
predictions = model_plat.predict(x_plat) 
model_plat.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SilverClose   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 9.071e+05
Date:                Mon, 07 Nov 2022   Prob (F-statistic):               0.00
Time:                        20:42:35   Log-Likelihood:                -1307.7
No. Observations:                4865   AIC:                             2625.
Df Residuals:                    4860   BIC:                             2658.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.0357      0.018     -1.941      0.052      -0.072       0.000
GoldOpen      4.982e-05   2.52e-05      1.980      0.048    4.88e-07    9.92e-05
SilverOpen       0.9930      0.002    603.858      0.000       0.990       0.996
CopperOpen       0.0036      0.010      0.357      0.721      -0.016       0.023
PlatinumOpen  7.486e-05   2.65e-05      2.826      0.005    2.29e-05       0.000
==============================================================================
Omnibus:                     3595.868   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           458246.397
Skew:                          -2.705   Prob(JB):                         0.00
Kurtosis:                      50.237   Cond. No.                     6.72e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.72e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### If we compare the models by looking at their R-square, the most accurate model is the one created in the first step.

# Question 3

In [321]:
def open_close_price(ticker_symbol):
    temp_ticker = yf.Ticker(ticker_symbol)
    df_ticker = temp_ticker.history(period = 'max')
    col_names = df_ticker.columns
    bin_comp = []
    for i in range(len(df_ticker.index)):
        if df_ticker['Open'][i] < df_ticker['Close'][i]:
            bin_comp.append(1)
        else:
            bin_comp.append(0) 

    df_ticker['Day Positive'] = bin_comp
    df_ticker.drop(columns=col_names, inplace = True)
    return df_ticker

In [385]:
gold = open_close_price('GC=F')
gold

                           Day Positive
Date
2000-08-30 00:00:00-04:00             0
2000-08-31 00:00:00-04:00             1
2000-09-01 00:00:00-04:00             0
2000-09-05 00:00:00-04:00             0
2000-09-06 00:00:00-04:00             0
...                                 ...
2022-11-01 00:00:00-04:00             1
2022-11-02 00:00:00-04:00             0
2022-11-03 00:00:00-04:00             0
2022-11-04 00:00:00-04:00             1
2022-11-07 00:00:00-05:00             1

[5568 rows x 1 columns]

In [387]:
silver = open_close_price('SI=F')
silver

                           Day Positive
Date
2000-08-30 00:00:00-04:00             0
2000-08-31 00:00:00-04:00             1
2000-09-01 00:00:00-04:00             0
2000-09-05 00:00:00-04:00             1
2000-09-06 00:00:00-04:00             0
...                                 ...
2022-11-01 00:00:00-04:00             1
2022-11-02 00:00:00-04:00             0
2022-11-03 00:00:00-04:00             1
2022-11-04 00:00:00-04:00             1
2022-11-07 00:00:00-05:00             1

[5569 rows x 1 columns]

In [388]:
copper = open_close_price('HG=F')
copper

                           Day Positive
Date
2000-08-30 00:00:00-04:00             1
2000-08-31 00:00:00-04:00             0
2000-09-01 00:00:00-04:00             1
2000-09-05 00:00:00-04:00             1
2000-09-06 00:00:00-04:00             0
...                                 ...
2022-11-01 00:00:00-04:00             1
2022-11-02 00:00:00-04:00             1
2022-11-03 00:00:00-04:00             1
2022-11-04 00:00:00-04:00             1
2022-11-07 00:00:00-05:00             0

[5573 rows x 1 columns]

In [390]:
platinum = open_close_price('PL=F')
platinum

                           Day Positive
Date
2000-01-04 00:00:00-05:00             1
2000-01-05 00:00:00-05:00             0
2000-01-06 00:00:00-05:00             0
2000-01-07 00:00:00-05:00             1
2000-01-10 00:00:00-05:00             1
...                                 ...
2022-11-01 00:00:00-04:00             0
2022-11-02 00:00:00-04:00             0
2022-11-03 00:00:00-04:00             0
2022-11-04 00:00:00-04:00             0
2022-11-07 00:00:00-05:00             1

[5036 rows x 1 columns]

In [401]:
dff = pd.concat([gold, silver, copper, platinum], axis=1)
dff.dropna(inplace = True)
dff

,Day Positive,Day Positive,Day Positive,Day Positive
Date,,,,
2000-08-30 00:00:00-04:00,0.0,0.0,1.0,0.0
2000-08-31 00:00:00-04:00,1.0,1.0,0.0,0.0
2000-09-01 00:00:00-04:00,0.0,0.0,1.0,1.0
2000-09-05 00:00:00-04:00,0.0,1.0,1.0,0.0
2000-09-06 00:00:00-04:00,0.0,0.0,0.0,1.0
...,...,...,...,...
2022-11-01 00:00:00-04:00,1.0,1.0,1.0,0.0
2022-11-02 00:00:00-04:00,0.0,0.0,1.0,0.0
2022-11-03 00:00:00-04:00,0.0,1.0,1.0,0.0
2022-11-04 00:00:00-04:00,1.0,1.0,1.0,0.0
2022-11-07 00:00:00-05:00,1.0,1.0,0.0,1.0

# Question 4

In [337]:
credit = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header=None)
fn = {'+': 1, '-': 0}

X = credit.replace('?',0).iloc[:,[1,2,7,10,14]]
y = credit.iloc[:,15].map(lambda x: fn.get(x,0))

In [343]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [358]:
logreg1 = LogisticRegression(max_iter = 200).fit(X_train,y_train)
y_pred1 = logreg1.predict(X_test)
print("Accuracy of logistic regression classifier: ", logreg1.score(X_test,y_test))

Accuracy of logistic regression classifier:  0.8164251207729468

In [372]:
logreg2 = LogisticRegression(max_iter = 60).fit(X_train,y_train)
y_pred2 = logreg2.predict(X_test)
print("Accuracy of logistic regression classifier: ", logreg2.score(X_test,y_test))

Accuracy of logistic regression classifier:  0.8357487922705314

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [346]:
confusion_matrix(y_pred1,y_test)

array([[108,  29],
       [  9,  61]], dtype=int64)

In [373]:
confusion_matrix(y_pred2,y_test)

array([[109,  26],
       [  8,  64]], dtype=int64)

In [381]:
tol = [0.01, 0.001, 0.0001]
max_iter = [100,150,200]
param_grid = dict(tol=tol, max_iter=max_iter)
grid_model = GridSearchCV(estimator=logreg1, param_grid=param_grid, cv=5)
grid_model_result = grid_model.fit(X, y)
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Best: %f using %s" % (best_score, best_params))

C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\90546\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Best: 0.760870 using {'max_iter': 100, 'tol': 0.01}